
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Nunito');*/

@import 'specialtags.css';

:root {
  --header-font: "Comfortaa";
  --body-font: "Comfortaa";
  --main-color: #39B2F6
}

.rm-page-ref--link{
  color: var(--main-color);
}


body,
div,
textarea,
.level2 {
   font-family: var(--header-font) !important;}

a{
    color: var(--main-color) !Important;
    text-decoration: none;
}
.bp3-slider-progress.bp3-intent-primary {
    background-color: var(--main-color) !Important;
}




